<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{url_for('static', filename='css/login.css')}}">
    <body>
        <div class="container">
            <a href="/" class="logo"><h2>J's Corner Restaurant</h2></a>

            {% if error %}
                <p style="color: red;">{{ error }}</p>
            {% endif %}

            <form method="post">
                <input type="text" name="username" placeholder="Username" required>
                <input type="password" name="password" placeholder="Password" required>
        
                <p>Already have a J's Corner Restaurant account?&nbsp;<u><a class="signup-link" href="{{url_for('login')}}">Login</a></u></p>
                <button type="submit">Sign Up</button>
            </form>
        </div>
    </body>
</html>